@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --color-primary: #2563EB;
    --color-secondary: #FBBF24;
}

*{
    font-family: Outfit;
}

.font-playfair{
    font-family: Playfair !important;
}



:root{
  --serif: 'Playfair Display', serif;
  --sans: 'Inter', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.font-serif { font-family: var(--serif); }
.font-sans { font-family: var(--sans); }


